.nav_link,
.nav_link:hover,
.nav_link:focus {
  color: var(--foreground);
  border-radius: 4px;
}

.active,
.active:hover,
.active:focus {
  color: var(--background);
  background-color: var(--foreground);
}
