.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  flex-grow: 1;
  padding: 1em;
}
.mainPage {
  display: flex;
  justify-content: space-between;
  gap: 3em;
  flex-grow: 1;
}
.mainlogo {
  width: 30vw;
  height: auto;
}
@media (min-width: 992px) {
  .mainlogo {
    width: auto;
    height: calc(100vh - 200px);
  }
}

.mainServicesList {
  list-style: none;
  text-align: right;
  font-size: clamp(1rem, 5vw, 10rem);
  cursor: default;
  user-select: none;
}

.mainServicesList li {
  transition: all 0.5s ease-out;
}
.mainServicesList li:hover {
  font-size: clamp(1rem, 6vw, 10rem);
}

.photoImage {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 70%,
    rgba(30, 35, 81, 1) 90%,
    rgba(30, 35, 81, 1) 100%
  );
  z-index: 1;
}

.figure {
  position: relative;
  margin: 0;
  width: fit-content;
}

.figCaption {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.aboutMeArticle {
  background-color: var(--foreground);
  padding: 2rem;
  border-radius: var(--bs-border-radius-xl);
  display: flex;

  gap: 1rem;
  flex-wrap: wrap;
  width: clamp(30ch, 80rem, 90%);
  justify-content: center;
}

.aboutMeProfile {
  align-self: center;
  flex-basis: 50ch;
  flex-grow: 1;
}

.aboutMeArticle div {
  background-color: var(--background);
  padding: 2rem;
  border-radius: var(--bs-border-radius-xl);
}
